.errorContainer {
	margin: 22px 6%;
}

.errorNumber {
	margin: 12rem 0 1rem 0;
}

%flex-error {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.errorText {
	
	text-align: center;
	
	margin: 0 11%;

	
}

.errorLinkHome {
	
	text-decoration: none;
	
	
	margin-top: 9rem;

	

	&:hover,
	&:focus {
		text-decoration-line: underline;
	}
}