@mixin body-position {
    max-width: $wmax;
    min-width: $wmin;
    margin: 30px;
}

@mixin font($size, $weight) {
    font-size: ($size);
    font-style: normal;
    font-weight: $weight;
    line-height: 142.6%;
}