.collapse-fiche-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 15px;
}
.collapse_div{
    flex-direction: column;
    display: flex;
}
.collapse_btn{
    background-color: #FF6060;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    height: 47px;
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    justify-content: space-between;
    font-size: inherit;
}
.collapse_title{
    text-align: left;
    color: white;
    display: flex;
    align-items:flex-start;
    padding-left: 18px;
    line-height: 26px;
    font-size: 24px;
}
.collapse_content{
    background-color: #F7F7F7;
    border-radius: 10px;
    width : inherit;
    overflow: auto;
    display: flex;
    height: auto;
    
}
.collapse_text{
    color:black;
    line-height: 142.6%;
    display: flex;
    padding: 20px;
    font-size: 15px;
}
    
.collapse_text ul {
    margin: 0;
    padding: 0;
}
.collapse_text li{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
/* Chevron*/
.open {
    padding-right: 18px;
    
}
.close{
    transform: rotate(180deg);
    padding-left: 18px;
}