.header-container {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Assure que les éléments sont centrés verticalement */
    padding: 0 20px; /* Ajout d'un padding pour éviter que le contenu touche les bords */
    margin: 20px 0;

    .logo {
        width: 120px; /* Largeur par défaut du logo */
    }

    .navbar {
        display: flex;
        align-items: center;
        gap: 20px; /* Espacement par défaut */
    }

    .nav {
        all: unset;
        cursor: pointer;
        font-size: 1rem;
    }

    @media (max-width: 480px) {
        .logo {
            width: 80px; /* Taille réduite pour les très petits écrans */
        }

        .navbar {
            gap: 10px; /* Réduction de l'espace entre les éléments du menu */
        }

        .nav {
            font-size: 0.8rem; /* Taille réduite du texte pour les très petits écrans */
        }
    }

    @media (min-width: 481px) and (max-width: 600px) {
        .logo {
            width: 100px; /* Taille réduite pour les petits écrans */
        }

        .navbar {
            gap: 15px; /* Réduction de l'espace entre les éléments du menu */
        }

        .nav {
            font-size: 0.875rem; /* Taille réduite du texte pour les petits écrans */
        }
    }

    @media (min-width: 601px) and (max-width: 1024px) {
        .logo {
            width: 125px; /* Taille intermédiaire pour les écrans moyens */
        }

        .navbar {
            gap: 20px; /* Espacement intermédiaire */
        }

        .nav {
            font-size: 0.9375rem; /* Taille intermédiaire du texte pour les écrans moyens */
        }
    }

    @media (min-width: 1025px) {
        .logo {
            width: 150px; /* Largeur par défaut du logo */
        }

        .navbar {
            gap: 30px; /* Espacement par défaut */
        }

        .nav {
            font-size: 1rem; /* Taille par défaut du texte */
        }
    }
}

