.footer-container {
    background-color: black;
    width: 100%;
    height: 209px;
    text-align: center;
    .footer-container-text {
        color: white;
        text-align: center;
    }

    img {
        margin-top: 50px;
		width: 122px;
		height: 40px;
    }
}